* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color: white;
}

body {
  background: #3a7bd5;
  background: linear-gradient(to bottom, #00b8e0, #3a7bd5);
  background-attachment: fixed;
  text-align: center;
}

h1 {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  transition: all .1s ease-out;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, .6);
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, .6);
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, .6);
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, .6);
  font-weight: normal;
}

#agua, .main, .search {
  height: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  &.condensed > .textbox {
    margin-top: -90px;
  }

  &.condensed > h1 {
    opacity: 0;
  }

  .textbox {
    position: relative;
    padding: 0 20px;
    transition: all .3s ease-out;

    div {
      padding: 0 10px;
    }

    input {
      width: 100%;
      background: none;
      border: none;
      line-height: 33px;
      font-size: 18px;
      color: white;
      border-radius: 0;
      outline: none;
    }

    img {
      position: absolute;
      right: 30px;
      top: 6px;
      height: 20px;
    }
  }

  > ul {
    flex: 1 1;
    list-style-type: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    text-align: left;
  }

  li {
    padding: 8px 0 8px 30px;
    font-size: 18px;
  }
}

.detail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 20px;

  background: #3a7bd5;
  background: linear-gradient(to bottom, #00b8e0, #3a7bd5);
  background-attachment: fixed;

  > .header {
    position: relative;
    margin-bottom: 20px;
    font-size: 18px;
    font-size: 22px;

    a {
      position: absolute;
      width: 22px;
      height: 22px;
      top: 14px;
      left: 24px;

      img {
        height: 22px;
        width: 22px;
      }
    }
  }
}

.infobox {
  display: flex;
  margin: 16px 0;
  background: rgba(58, 123, 213, 0.31);

  > div {
    width: 76%;
    margin: auto;
    padding: 20px 0;
    display: flex;

    > b {
      flex: 0 0 50%;
      width: 60%;
      font-weight: bold;
      font-size: 62px;
      text-align: right;
    }

    > div {
      flex: 1 1;
      display: flex;
      flex-direction: column;
    }
  }

  img {
    margin: 10px;
  }
}
