* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
}

body {
  background: #3a7bd5;
  background: linear-gradient(to bottom, #01d1ff, #3a7bd5);
  background-attachment: fixed;
  text-align: center;
}

h1 {
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2em;;
}

strong {
  letter-spacing: 0.1em;
}

#agua, .main, .search {
  height: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
  width: 76%;
  margin: auto;
  text-align: left;

  > div {
    position: relative;

    > img {
      position: absolute;
      right: 0;
      top: 20%;
      height: 20px;
    }
  }

  > ul {
    flex: 1 1;
    overflow: scroll;
  }
}

input {
  width: 100%;
  background: none;
  border: none;
  line-height: 33px;
  font-size: 18px;
  color: white;
  border-radius: 0;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 20px;
  font-size: 18px;
}

.detail {
  padding-top: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #3a7bd5;
  background: linear-gradient(to bottom, #01d1ff, #3a7bd5);
  background-attachment: fixed;

  > .header {
    width: 76%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;

    img {
      height: 22px;
      margin-right: 10px;
    }
  }
}

.infobox {
  display: flex;
  margin: 16px 0;
  background: rgba(255,255,255, .2);

  > div {
    width: 76%;
    margin: auto;
    padding: 20px 0;
    display: flex;

    > b {
      flex: 0 0 50%;
      width: 60%;
      font-weight: bold;
      font-size: 62px;
      text-align: right;
    }

    > div {
      flex: 1 1;
      display: flex;
      flex-direction: column;
    }
  }

  img {
    margin: 10px;
  }
}

.footer {
  display: flex;
  font-size: 12px;

  > div {
    flex: 1 1;
    text-align: right;
    padding: 0 10px;
    font-size: 12px;

    > img {
      height: 20px;
    }
  }
}
